@import "tailwindcss";

button {
  cursor: pointer;
}

.toastContainer {
  position: fixed;
  right: 1%;
  width: 25vw;
  height: 10vh;
  z-index: 50;
}

.toastContainer.top {
  top: 1%;
}

.toastContainer.bottom {
  bottom: 1%;
}

@theme {
  --color-primary: #f59e0b;
  --font-special: "'DM Serif Display', serif";
}
